 <div class="well"    data-education-id='<%= hob.id %>' >
  <p> <%= hob.title %> </p>
   <strong>Organisation or Trainer(s) </strong>
    <i>  <%= hob.organisation %> </i>
    description:
    <p><%= hob.description %> </p>
    <% if current_user.profile == @profile %>
    <%= link_to 'Delete Hobby', profile_education_path(@profile, hob), method: :delete , remote: true%>
    <% end %>
  </div>
