<p id="notice"><%= notice %></p>
<div class="text-center container">
<% if current_user.profile == @profile %>
<% if current_user && current_user.profile.cluster.nil? %>
  <%= link_to "Find A Cluster", profile_find_cluster_path(current_user.profile) %>
  <% else %>
  <%= link_to "Your Cluster", cluster_path(current_user.profile.cluster.first) %>

<% end %>
<% end %>






<p>
  <strong>Birth place:</strong>
  <%= @profile.birth_place %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @profile.birth_date %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @profile.nickname %>
</p>

<p>
  <strong>Living place:</strong>
  <%= @profile.living_place %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Gender identity:</strong>
  <%= @profile.gender_identity %>
</p>

<p>
  <strong>Sexuality:</strong>
  <%= @profile.sexuality %>
</p>
<p>
  <strong id="hobbies"> Hobbies</strong>
  <% @profile.hobbies.each do |hob| %>
        <%= render 'hobby', hob: hob %>
  <% end %>
</p>
<p>
  <strong id="educations"> Education and Training</strong>
  <% @profile.educations.each do |hob| %>
 <%= render 'education', hob: hob %>
  <% end %>
</p>



<p>
  <strong> Languages</strong>
  <% @profile.languages.each do |hob| %>
  <p data-language-id='<%= hob.id %>'> <%= hob.name %>
    <%= link_to 'X', profile_language_path(@profile, hob), method: :delete , remote: true%>
</p>
  <% end %>
</p>
<% if current_user.profile == @profile %>
<div class="container">
<%= simple_form_for [@profile, @new_language], remote: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.simple_fields_for :language_to_profiles do |fo| %>
    <%= fo.input :languages, collection: Language.all %>
    <% end %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

  <%= render 'education_form' %>


  <%= render 'hobby_form' %>
</div>
<% end %>
