<p id="notice"><%= notice %></p>
<div class="text-center container">
<% if current_user.profile == @profile %>
<% if current_user && current_user.profile.cluster.nil? %>
  <%= link_to "Find A Cluster", profile_find_cluster_path(current_user.profile) %>
  <% else %>
  <%= link_to "Your Cluster", cluster_path(current_user.profile.cluster) %>

<% end %>

  <p> This Profile is for Your Clusters</p>
<% end %>


<div class="well">
<p>
  <strong>Birth place:</strong>
  <%= @profile.birth_place %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @profile.birth_date %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @profile.nickname %>
</p>

<p>
  <strong>Living place:</strong>
  <%= @profile.living_place %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Gender identity:</strong>
  <%= @profile.gender_identity %>
</p>

  <strong>Sexuality:</strong>
  <%= @profile.sexuality %>
  <strong id="hobbies"> Hobbies</strong>
  <% @profile.hobbies.each do |hob| %>
        <%= render 'hobby', hob: hob %>
  <% end %>
  <strong id="educations"> Education and Training</strong>
  <% @profile.educations.each do |hob| %>
 <%= render 'education', hob: hob %>
  <% end %>




  <strong id="languages"> Languages</strong>
  <% @profile.languages.each do |hob| %>
  <%= render 'language', hob: hob %>

  <% end %>

  </div>
<% if current_user.profile == @profile %>
<div id="forms" style="-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;">
<strong> <i>For Your Eyes Only: Profile Updates </i></strong>
 <strong> Update your Languages</strong>
  <%= render 'language_form' %>
<strong> Update Your trainings and Educations</strong>
 <div class="form-group">

  <%= render 'education_form' %>
  </div>

<strong> Update Your Hobbies </strong>
  <%= render 'hobby_form' %>
</div>
<% end %>
</div>
