<div class="navbar-wagon">
  <!-- Logo -->
  <% link_to root_path, class: "navbar-wagon-brand" do %>
    <% image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <% if current_user && current_user.profile %>

       <%= link_to "Profile", profile_path(current_user.profile), class: "navbar-wagon-item navbar-wagon-link" %>
       <% if current_user.profile.cluster %>
       <%= link_to "Your Cluster", cluster_path(current_user.profile.cluster), class: "navbar-wagon-item navbar-wagon-link" %>

      <% end %>
      <% else %>
       <%= link_to "Profile", new_profile_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <% end %>

            <% if current_user.profile %>
              <%= current_user.profile.nickname %>
            <% end %>
              <%= link_to destroy_user_session_path, method: :delete,class: "navbar-wagon-item navbar-wagon-link" do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
 </div>
        </div>


